nav {
    position: relative;
}

#bar {
    height: 40px;
    padding-top: 15px;
    font-size: 15px;
    text-align: center;
}

#bar li {
    display: inline;
    padding: 8px;
    margin: 30px;
}

#bar li:hover {
    border: 2px solid rgb(65, 64, 64);
}

a {
    text-decoration-line: none;
    color: black;
}

#door {
    width: 120px;
    height: 120px;
    display: block;
    margin: auto;
}